$accent: #46c672;
$transparent-white: #939393;

@font-face{
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-weight: bold;
}
@font-face{
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/RobotoSlab-VariableFont_wght.ttf);
}

$montserrat: 'Montserrat', Arial, Sans-serif;
$roboto: 'Roboto Slab', 'Times New Roman', serif;

@import "adjustments/adjustment";
@import "sections/header"; 
@import "sections/hero"; 
@import "sections/services"; 
@import "sections/banner"; 
@import "sections/project"; 
@import "sections/values"; 
@import "sections/reviews"; 
@import "sections/call"; 
@import "sections/sponsors"; 
@import "sections/feed"; 
@import "sections/footer"; 