.footer-container{
  display: grid;
  grid-template-columns: 1fr 25rem 1fr;
  justify-items: center;
  align-items: center;
  padding: 2rem 0;
}
.socials-list{
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
.social-item{
  background-color: #1c1c1c;
  border-radius: 50%;
  overflow: visible;
}
.social-link{
  border-radius: 50%;
  display: block;
  height: 3rem;
  width: 3rem;
  padding: .8rem;
}
.social-item-icon{
  height: 1.4rem;
  width: 1.4rem;
}
#tw:hover{
  background-color: #00adf0;
}
#fb:hover{
  background-color: #23589b;
}
#pi:hover{
  background-color: #ec1a24;
}
#gg:hover{
  background-color: #fd2209;
}
.footer-rights{
  font-size: 1.5rem;
  font-weight: bold;
  color: $transparent-white;
  font-family: $roboto;
}
@media (max-width: 1024px) {
  .footer-container{
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
  }
}
@media (max-width: 768px) {
  .footer-rights{
    font-size: 1rem;
  }
  .footer-container{
    grid-template-columns: 1fr;
    align-items: center;
    gap: 2rem;
  }
}