.hero{
  margin-top: 0;
  height: calc(100vh - 5rem);
  min-height: 60rem;
  background-image: url(../img/Background.jpg);
  background-position: center;
  background-size: cover;
}
.hero > .container {
  padding: 10rem 0;
  .section-title{
    font-size: 7rem;
  }
  .section-comment{
    font-size: 2rem;
    margin: 3rem auto;
  }
  .button{
    border-radius: 3rem;
    font-size: 1.5rem;
    a {
      padding: 2rem 2.6rem;
    }
  }
}

@media screen and (max-height: 1440px) {
  .hero > .container {
    padding: 7rem 0;
    .section-title{
      font-size: 5rem;
    }
    .section-comment{
      font-size: 1.5rem;
    }
    .button{
      border-radius: 2rem;
      font-size: 1rem;
      a {
        padding: 1.5rem 2rem;
      }
    }
  }
  .hero{
    min-height: 40rem;
  }
}