.services-list{
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  list-style: none;
  width: 100%;
  margin-top: 5rem;
}
.service-subtitle{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}
.service-desc{
  margin-top: 1rem;
  font-size: 1.3rem;
  text-align: center;
  color: $transparent-white;
}
.service-icon{
  height: 4rem;
  width: 4rem;
  display: block;
  margin: 3rem auto;
}
@media (max-width: 1024px) {
  .services-list{
    flex-direction: column;
  }
}