* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  margin: 0 20%;
}
.section-title{
  font-family: $montserrat;
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.light-theme {
  color: white;
}
.section-comment {
  font-size: 2.5rem;
  text-align: center;
  margin: 1rem 0;
  font-family: $roboto;
  color: $transparent-white;
}
.button{
  background-color: $accent;
  border-radius: 4rem;
  margin: 3rem auto;
  font-size: 1.5rem;
  display: block;
  border: 0;
  a {
    padding: 2rem 2.6rem;
    display: inline-block;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $montserrat;
  }
}
.button:hover{
  background-color: white;
  a {
    color: $accent;
  }
}
section{
  margin: 10rem 0;
}

@media screen and (max-width: 1440px) {
  .section-title{
    font-size: 3rem;
  }
  .section-comment{
    font-size: 1.5rem;
  }
  section{
    margin: 6rem 0;
  }
  .button{
    background-color: $accent;
    border-radius: 3rem;
    margin: 2rem auto;
    font-size: 1.1rem;
    display: block;
    border: 0;
    a {
      padding: 1.5rem 2rem;
      display: inline-block;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
  .container{
    margin: 0 10%;
  }
}
@media screen and (max-width: 450px) {
  .section-title{
    font-size: 2.5rem;
  }
  .section-comment{
    font-size: 1.2rem;
  }
  section{
    margin: 4rem 0;
  }
  .container{
    margin: 0 5%;
  }
}
@media screen and (max-width: 450px) {
  .section-title{
    font-size: 2rem;
  }
  .section-comment{
    font-size: 1rem;
  }
  section{
    margin: 3rem 0;
  }
  .container{
    margin: 0 4%;
  }
}